body {
    Margin: 2% 2% 2% 2%;
    background-image: url(img/old-paper-texture.png);
    background-size: 100% auto;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    font-family: 'Lobster', serif;
    font-size: 20px;
}

p {
    margin: 0;
}

img, button {
    filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.8));
    box-shadow: 0 0 0 0 crimson inset;
    transition: box-shadow 5s;
}

img:hover, button:hover {
    box-shadow: 0 0 100px 46px crimson inset;
}

button {
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.8));
    text-align: center;
    border-radius: 2px;
    border: none;
}

footer {
    position: absolute;
    bottom: 1%;
}

#diceRoller {
    text-align: center;
    display: none;
    position: absolute;
    right: 3%;
    border: black 2px solid;
    background: none;
    transition: background 5s;
}

#diceRoller:hover {
    background: rgba(0, 0, 0, 0.50);
}

#showDice, #goBack, #secretButton {
    position: absolute;
    border: rgba(0, 0, 0, 0.2) 5px solid;
    box-shadow: 2px 2px 5px 5px rgb(0, 0, 0);
    background-image: url("https://images.template.net/wp-content/uploads/2015/04/Old-Paper-Texture-117552813.jpg");
    color: #ffffff;
    text-shadow: 2px 2px black;
    transition: box-shadow 1s;
}

#showDice {
    top: 3%;
    right: 7.5%;
}

#showDice:hover, #goBack:hover, #secretButton:hover {
    box-shadow: 0 0 300px 32px rgba(0, 0, 0, 0);
}

#goBack {
    right: 3%;
    top: 3%;
}

#secretButton {
    right: 12.8%;
    top: 3%;
}

.roll {
    margin: 2px;
    border: 1px black solid;
    background: none;
    transition: background 1s;
}

.roll:hover {
    background: white;
}

.die {
    text-align: center;
}

.overlay, #secret, #half {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    overflow-y: hidden;
    text-align: center;
    transition: 0.5s;
}

#half {
    position: absolute;
    z-index: 101;
    top: 75%;
    width: 0;
    height: 25%;
    background-color: white;
}

.overlay-content {
    position: relative;
    left: 45%;
    top: 30%;
    width: 100px;
    text-align: center;
    margin-left: 20px;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#loginButton span, #registerButton span, #logoutButton span {
    font-size: 20px;
    display: inline;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    transition: 0.3s;
}

#loginButton {
    position: absolute;
    right: 9%;
    height: 30px;
    width: 80px;
}

#registerButton, #logoutButton {
    position: absolute;
    top: 4%;
    right: 3%;
    height: 30px;
    width: 90px;
}

#logoutButton {
    top: 8%;
    right: 3%;
}

button:hover {
    background-color: white;
}

.registerMessage {
    color: crimson;

}

#sword, #sword2 {
    width: 10%;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 40%;
    top: -500px;
}

#sword2 {
    transform: scaleX(-1);
    left: 45%;
}

#skel {
    position: absolute;
    left: -50px;
    top: 70%;
    max-height: 50px;
}

#spook {
    z-index: 1000;
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
}

.jobPic{
    top:55%;
    max-height:100px;
}